.ipynb_checkpoints/
__pycache__/
exports
*.pth
*.hdf5
data/distance_data/beginning/distanceMatrix*.csv
data/distance_data/beginning/*.npy
data/distance_data/end/distanceMatrix*.csv
data/distance_data/end/*.npy